
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Encrypt a Message", "EncryptionUsingPlayFair")

<br/>

@Html.ActionLink("Decrypt a Message", "DecryptionUsingPlayFair")